<div id="back-to-top">
    <a onclick="scrollToTop()" >▲ Back to Top ▲</a>
</div>

<footer>
    <div id="links">
        <a href="https://github.com/nickstanley574" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/nickstanley574/" target="_blank">LinkedIn</a>
        <a href="/donate/" target="_blank">Donate</a>
    </div>
    <hr>
    <div id="sub">
        <div id="quote">
            "Twenty years from now you will be more
            disappointed by the things that you didn't 
            do than by the ones you did do."<br>- Mark Twain
        </div>
        <div>
        © Nicholas Stanley
        </div>
    </div>
</footer>