nav {
    background-color: #0B3F62;
    overflow: hidden;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

body {
    margin: auto;
    padding: 15px;
    max-width: 600px;
    text-align: left;
    background-color: white;
    position: relative;
}

.page-content {
    font-size: 110%;
    padding: 0px 10px;
}

.date {
    color: gray;
    font-style: italic;
}

table {
    padding-inline-start: 40px;
}

table tr td a {
    text-decoration: none;
    color: #0B3F62;
}

table tr td a:hover {
    text-decoration: underline;
}

.cv p {
    margin-top: 0.7em;
    font-size: 0.90em;
}

.cv ul {
    font-size: 0.90em;
    padding-inline-start: 20px;
}

.cv li {
    margin-bottom: 0.3em;
}

.cv .company {
    display: block;
    font-size: 1.4em;
    margin-top: 0.85em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.cv .job-title {
    display: block;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.cv .job-date {
    display: block;
    font-size: 0.9em;
    margin-top: 0.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

hr {
    width: 85%;
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.274);
}

footer {
    line-height: 1.3;
    margin-top: 50px;
    text-align: center;
}

footer #sub div {
    font-size: 85%;
    padding: 5px;
}

footer #links {
    float: center;
}

footer #links a {
    color: #0B3F62;
    float: center;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
}

footer #links a:hover {
    text-decoration: underline;
}

footer #quote {
    margin: auto;
    width: 50%;
}