nav {
    background-color: #0B3F62;
    overflow: hidden;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    float: right;
}

body {
    margin: auto;
    padding: 20px;
    max-width: 725px;
    line-height: 1.5;
    text-align: left;
    position: relative;
}

.page-content {
    font-size: 1.2em;
    padding: 0px 5px;
}

p code {
    background: #f4f4f4;
    font-family: monospace;
    padding: 0.75px;
    padding-left: 4px;
    padding-right: 4px;
    border: 0.5px solid #ddd;
}

.language-plaintext code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 5px solid #0B3F62;
    color: #1b1b1b;
    font-family: monospace;
    max-width: 100%;
    overflow: auto;
    padding: 0.75em 1.8em;
    display: block;
    word-wrap: normal;
    white-space: pre-wrap;
    margin-top: 5px
}

.date {
    color: #485661;
    font-weight: bold;
}

.post-title {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.post-excerpt * {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.post-title a:link,
.post-title a:visited {
    color: #0B3F62;
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-date {
    color: #485661;
    display: block;
    font-size: 0.95em;
    margin-top: 0.25em;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
}

.post-excerpt {
    margin-top: 0.5em;
}

.post-link {
    margin-top: 8px;
    margin-bottom: 2.2em;
}

.cv p {
    margin-top: 0.7em;
    font-size: 0.90em;
}

.cv ul {
    font-size: 0.90em;
    padding-inline-start: 20px;
}

.cv li {
    margin-bottom: 0.3em;
}

.cv .company {
    display: block;
    font-size: 1.4em;
    margin-top: 0.85em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.cv .job-title {
    display: block;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.cv .job-date {
    display: block;
    font-size: 0.9em;
    margin-top: 0.4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

hr {
    width: 75%;
    border: none;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.274);
}

footer {
    line-height: 1.3;
    margin-top: 50px;
    text-align: center;
}

footer #sub div {
    font-size: 0.85em;
    padding: 5px;
}

footer #links {
    float: center;
}

footer #links a {
    color: #0B3F62;
    float: center;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
}

footer #links a:hover {
    text-decoration: underline;
}

footer #quote {
    margin: auto;
    width: 50%;
}