<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | nickstanley574</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/projects/">Projects</a>
        <a href="/cv/">CV</a>
    </nav>
    <div class="page-content">
        {{ content }}
      </div>
  </body>

  <footer>
      <div id="links">
          <a href="https://github.com/nickstanley574" target="_blank">Github</a>
          <a href="https://www.freecodecamp.org/nickstanley574" target="_blank">FreeCodeCamp</a>
          <a href="https://www.linkedin.com/in/nickstanley574/" target="_blank">LinkedIn</a>
          <a href="/feed.xml" target="_blank">RSS</a>
      </div>
      <hr>
      <div id="sub">
          <div id="quote">
              “Twenty years from now you will be more disappointed by the things that you didn’t do than by the ones you did do.” <br>– Mark Twain
          </div>
          <div>
              <i> Website Style Inspired by <a href="https://tinyprojects.dev/" target="_blank">tinyprojects.dev</a></i>
          </div>
          <div>
            © Nicholas Stanley
          </div>
      </div>
  </footer>

</html>